@import "tailwindcss";

@font-face {
  font-family: "Bebas Neueu";
  src: url("/fonts/BebasNeue-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #faf7f3;
  --font-primary: var(--font-poppins);
  /*  */
  --foreground: #2f2c23;
  --secondary: #e83b14;
  --gray: #a0a3a5;
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  /* font-family: var(--font-poppins), sans-serif; */
  font-family: "Poppins", sans-serif;
}

@theme inline {
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px];
  }
}

@theme inline {
  --animation: "loop";
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-loop-scroll {
  animation: scroll 20s linear infinite;
  will-change: transform;
}

.font-bebas {
  /* font-family: var(--font-bebas), sans-serif; */
  font-family: "Bebas Neueu";
  font-weight: 400;
  font-style: normal;
}

.hero-background {
  background-image: url("/images/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: -0;
}

.our-team-background {
  background-image: url("/images/background-our-team.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: -0;
}

/* .text-justify {
  text-align: justify;
} */

.footer-background {
  background-image: url("/images/background-our-team.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
  width: 100%;
  position: relative;
  z-index: -0;
}
